body {
    margin-left:-150px;
}

.heading{
    width: 1400px;
    border-radius:10px;
    margin-top: 20px;
    padding:20px;
    background-color: #222222;
    text-align:center;
}

.heading h2{
    color:white;
}

.submitbtn{
    padding:10px;
}